.home{
    
        
  
  right: 100px;
/* background-image: linear-gradient(to right,rgba(255, 0, 212, 0),rgb(93, 161, 184)); */
  color:black;
  padding-left: 0px;
  padding-right: 0px;
  height: 95%;
  width: 33%;
  position: absolute;
  overflow: auto;
  font-style: italic;
  font-size: larger;

  
  

}
